@model List<RabbitMQApplication.Models.ChatMessage>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
    	<div class="col-md-8 bg-white ">
            <div class="chat-message">
                <ul class="chat">
                    @foreach (var message in Model)
                    {
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">@message.User</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>@message.Created</small>
                                </div>
                                <p>
                                    @message.ChatContent
                                </p>
                            </div>
                        </li>
                    }                                
                </ul>
            </div>
            <div class="chat-box bg-white">
                <form asp-action="SendMessages" method="post">
                    <div class="input-group">
                        <input type="text" name="User" class="form-control border no-shadow no-rounded" placeholder="Type your username here">
                        <input type="text" name="ChatContent" class="form-control border no-shadow no-rounded" placeholder="Type your message here">

                        <span class="input-group-btn">
                            <button class="btn btn-success no-rounded" type="submit">Send</button>
                        </span>
                    </div>
                </form>
            </div>            
		</div>        
	</div>
</div>